<!DOCTYPE html>

{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% language fav_lang %}

    <head>
        <meta charset="UTF-8">
        <meta name="author" content="https://github.com/sejour-a/"/>
        <meta name="description" content="{% trans "description" %}">
        <meta name="keywords" content="games,game,jeu,jeux,vidéoludique,partage">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta content="BetaGames" property="og:site_name">
        <meta content="object" property="og:type">
        <meta content="{% trans "Home" %}" property="og:title">
        <meta content="https://BetaGames.eu/" property="og:url">
        <meta content="{% trans "description" %}" property="og:description">

        <title>BetaGames</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/spectre.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/spectre-exp.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/spectre-icons.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    </head>

    <body style="background-color: #4c59c2">
    <section class="section section-header custom-bg-gray">
        <section class="grid-header container grid-960">
            <nav class="navbar">
                <section class="navbar-section">
                    <a href="index.html" class="navbar-brand mr-10">BetaGames</a>
                    <a onclick="sidebar_open()" class="btn btn-lg btn-link btn-action show-sm"><i class="icon icon-menu"></i></a>
                </section>
            </nav>
        </section>
    </section>

    <section class="container grid-960">
        <section class="columns">

            <div id="sidebar" class="sidebar custom-sidebar column col-3">
                <ul class="nav">
                    <li class="nav-item active">
                        <a href="#">Home</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item active">
                        <a href="#">New games</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item active">
                        <a href="#">Account</a>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a href="#">Home</a>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a href="#">New games</a>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a href="#">Account</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <a onclick="sidebar_close()" id="clearnav" class="custom-nav-clear"></a>

        </section>
    </section>
    </body>

    <script>
        function sidebar_open() {
            document.getElementById("sidebar").style.display = "block";
            document.getElementById("clearnav").style.display = "block";
        }
        function sidebar_close() {
            document.getElementById("sidebar").style.display = "none";
            document.getElementById("clearnav").style.display = "none";
        }
    </script>

{% endlanguage %}
