<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="https://github.com/sejour-a/" />
    <meta name="description" content="La plateforme pour partager et prévoir vos expériences vidéoludiques!">
    <meta name="keywords" content="games,game,jeu,jeux,vidéoludique,partage">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="BetaGames" property="og:site_name">
    <meta content="object" property="og:type">
    <meta content="Accueil" property="og:title">
    <meta content="https://BetaGames.eu/" property="og:url">
    <meta content="La plateforme pour partager et prévoir vos expériences vidéoludiques!" property="og:description">

    <title>BetaGames</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'spectre.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'spectre-icons.css' %}" />
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}

    {% language fav_lang %}
</head>

<body>
<section class="section section-hero bg-gray">
    <section id="overview" class="grid-hero container grid-960 text-center">
        <div class="card text-center">
            <div class="card-header">
                <span class="card-title">BetaGames</span>
            </div>
            <div class="card-body">
                {% trans "message" %}

                <br>

                {{ fav_lang }}
            </div>
        </div>
    </section>
</section>
</body>

{% endlanguage %}
